{% extends 'base.html.twig' %}

{% block title %}Pokemon TCG
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ path('web_search') }}">
						<!-- <img src="{{ asset('img/logo.png') }}"> -->
						Voltar
					</a>
				</div>
			</div>
		</div>
		<div class="container-fluid">
                        <twig:PokemonDetails
                                fullId="{{ pokemon.fullId }}"
                                name="{{ pokemon.name }}"
                                imgLarge="{{ pokemon.imgLarge }}"
                                types="{{ pokemon.types }}"
                                weaknesses="{{ pokemon.weaknesses }}"
                                resistances="{{ pokemon.resistances }}"
                                attacks="{{ pokemon.attacks }}"
                                rules="{{ pokemon.rules }}"
                        />
		</div>
	</div>
{% endblock %}
