<div{{attributes}}>
	<div class="page-header">
		<h1>
			{{ name }}
			<span class="label label-primary pull-right">{{ fullId }}</span>
		</h1>
	</div>
	<div class="row p-3 {{ types | first | lower }}" style="border-radius: 10px !important;">
		<div class="col-md-6">
			<img class="img-fluid" src="{{ imgLarge }}">
		</div>
		<div class="col-md-6">
			<div class="tab-content">
				<div id="data">
					<ul class="list-group">
						<li class="list-group-item">
							<strong>Type</strong>
							<span class="pull-right">
                                {% for type in types %}
                                    <span class="label type type-{{ type | lower }}">
                                        {{ type }}
                                    </span>
                                    <img src=" {{ asset('img/types/' ~ type | lower ~ '.png') }}">
                                {% endfor %}
							</span>
						</li>
                        <li class="list-group-item">
							<strong>Weaknesses</strong>
							<span class="pull-right">
                                {% for weakness in weaknesses %}
                                    <span class="label type type-{{ weakness.type | lower }}">
                                        {{ weakness.type }} <img src=" {{ asset('img/types/' ~ weakness.type | lower ~ '.png') }}"> {{ weakness.value }}
                                    </span>
                                {% endfor %}
							</span>
						</li>
                        <li class="list-group-item">
							<strong>Resistances</strong>
							<span class="pull-right">
                                {% for resistance in resistances %}
                                    <span class="label type type-{{ resistance.type | lower }}">
                                        {{ resistance.type }} <img src=" {{ asset('img/types/' ~ resistance.type | lower ~ '.png') }}"> {{ resistance.value }}
                                    </span>
                                {% endfor %}
							</span>
						</li>
                        <li class="list-group-item">
							<strong>Attacks</strong>
                            <div class="pt-1">
							{% for attack in attacks %}
                            <twig:AttackItemList
                                name="{{ attack.name }}"
                                cost="{{ attack.cost }}"
                                convertedEnergyCost="{{ attack.convertedEnergyCost }}"
                                damage="{{ attack.damage }}"
                                text="{{ attack.text }}"
                            />
                            {% endfor %}
                            </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
